.left{
    width: 25vw;
    padding: 2px 2px 6px 2px;
}

.right{
    width: 75vw;
    margin-top: 10px;
    position: relative;
    overflow: hidden;
}

.home{
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-top:5px;
}

.home ul{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.home ul li{
    list-style: none;
    width: 20px;
    display: flex;
    align-items: center;
    gap: 15px;
    font-weight: bold;
    cursor: pointer;
}

.home ul li span{
    height: 20px;
}

.library{
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 10px;
}

.library-body{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.library img{
    width: 20px;
    filter: invert(1);
    cursor: pointer;
}

.song-list{
    height: 550px;
    overflow: auto;
    margin-bottom: 40px;
}

.song-list ul{
padding: 0 15px 0px 0px;
}

.song-list ul li{
    list-style-type: decimal;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
}

.info{
    display: flex;
    flex-direction: column;
    font-size: 14px;
    width: 350px;
}
.play-now {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    width: 200px;
    gap: 15px;
    min-height: 30px;
    white-space: nowrap;
}

.play-now img{
    width: 18px;
    height: 18px;
}

.play-now span{
    font-size: 14px;
    width: 85px;
}

.space{
    margin-left: auto;
    width: 15px !important;
}

.footer{
    display: flex;
    font-size: 10px;
    gap: 10px;
    flex-wrap: wrap;
    padding: 10px 0;
}

.footer a{
    text-decoration: underline;
    color: #b3b3b3;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 75px;
}
.header > *{
    padding: 20px;
}

.nav{
    display: flex;
    align-items: center;
    gap: 20px;
}

.search{
    flex: 1;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    &:focus-within img {
        filter: invert(1);
    }
}

.search-icon2 {
    position: absolute;
    left: 30px;
    width: 25px;
    z-index: 10;
    filter: invert(0.5);
    transition: filter 0.2s ease-in-out;
    &:hover{
        filter: invert(1);
    }
}

.search-input {
    border-radius: 30px;
    padding: 10px 50px;
    border: none;
    background-color: black;
    color: #b3b3b3;
    width: 100%;
    outline: none;
    font-size: 14px;
    transition: border 0.2s ease-in-out;
    &:focus{
        border: white 1px solid;
    }
}

.cart span{
    position: absolute;
    right: 30px;
    font-size: 20px;
    color: #b3b3b3;
    filter: invert(0.5);
    cursor: default;
}

.cart{
    display: flex;
    align-items: center;
    justify-content: end;
    position: absolute;
    right: 30px;
    width: 50px;
}

.cart svg{
    z-index: 10;
    filter: invert(0.5);
    transition: filter 0.2s ease-in-out;
    &:hover{
        filter: none;
    }
}

.nav img{
    cursor: pointer;
    filter: invert(1);
}

.buttons{
    display: flex;
    gap: 20px;
}

.buttons button{
    cursor: pointer;
    border-radius: 30px;
    padding: 8px 25px;
    border: none;
}

.buttons :first-child{
    background-color: black;
    color: #b3b3b3;
    transition: transform 0.2s ease-in-out;
    &:hover{
        color: white;
        transform: scale(1.1);
        }
}

.buttons :last-child{
    background-color: white;
    color: black;
    transition: transform 0.2s ease-in-out;
    &:hover{
        transform: scale(1.1);
        font-weight: bold;
    }
}

.playlist{
    padding: 16px 0;
}

.hamburger{
    display: none;
}

.close{
    display: none;
}

.playlist h1{
    font-size: 20px;
    font-weight: bold;
    margin: 20px;
}

.card-container{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 10px 20px;
    max-height: 60vh;
    overflow-y: auto;
}

.card{
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    width: 200px;
    gap: 10px;
    padding: 10px;
    cursor: pointer;
    position: relative;
    &:hover{
        background-color: #252525;
    }
}
.card:hover svg {
    display: block;
}
.card img{
    width: 100%;
    object-fit: contain;
    border-radius: 10px;
}

.card svg{
    position: absolute;
    bottom: 90px;
    right: 20px;
    cursor: pointer;
    display: none;
    &:hover{
        filter: brightness(1.4);
    }
}

.card .play{
    width: 50px;
    height: 50px;
}

.play circle {
    fill: #1fdf64;
}

.play polygon {
    fill: black;
}
.card h2{
    font-size: 14px;
}

.card p{
    font-size: 12px;
}

.playbar{
     position: fixed;
    min-height: 60px;
    bottom: 8px;
    /* left: 0; */
    /* bottom: 0; */
    width: 74.45vw;
    background-color:#dad5d5;
    padding: 5px;
    border-radius: 10px;
    filter: invert(1);
}

.song-name{
    word-wrap: break-all;
    line-height: 1.4;
}

.songbuttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-top: 4px;
}
.songbuttons img{
    cursor: pointer;
    width: 35px; 
    height: 35px;
}

.seekbar{
    height: 5px;
    width: 96.6%;
    border: 1px solid black;
    /* background-color: ; */
    border-radius: 10px;
    position: absolute;
    bottom: 4px;
    left: 1.7%;
    margin: 5px;
    cursor: pointer;
}

.seekbar::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: var(--progress-width, 0%);
    height: 100%;
    background-color: black;
    transition: width 0.3s ease-in-out;
}

.circle{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: black;
    position: relative;
    bottom: 7px;
    left: -0.1%;
    transition: left 0.5s;
}

.song-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px ;
}

.song-info, .song-time{
    color: black;
    padding: 0px 10px;
    font-size: 14px;
    width: 300px;
}

.song-time{
    width: 200px;
    text-align: right;
    padding-top: 4px;
}

.song-info{
    padding-top: 4px;
}

.search-icon3{
    display: none;
}

.song-time-vol{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 325px;
    gap: 20px;
}
.volume{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    gap: 15px !important;
    width: 200px;
}
.volume:hover .range{
    opacity: 1;
    pointer-events: auto;
}
.range{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
}
.range-input {
    -webkit-appearance: none;
    width: 100%;
    height: 6px;
    background: black;
    border-radius: 5px;
    outline: none;
    transition: background 0.3s;
    cursor: pointer;
    filter: invert(1);
}

.range-input::-webkit-slider-runnable-track {
    width: 100%;
    height: 6px;
    border-radius: 5px;
}

.range-input::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 14px;
    height: 14px;
    background: black;
    border: 2px solid white;
    border-radius: 50%;
    cursor: pointer;
    margin-top: -4px;
}

.hidden{
    display: none;
}

@media (max-width: 1480px){
    .right{
        width: 100vw;
        margin: 0;
    }
    .left{
        width: 375px;        
        position: absolute;
        left: -375px;
        padding: 0;
        /* transform: translateX(-200%); */
        transition: left 0.5s ease-in-out;
        z-index: 100;
    }
    .left.active {
        left: 0;
    }
    .playbar{
        width: 96vw;
        left: 2vw;
        position: fixed;
        bottom: 1;
    }
    .seekbar{
        width: 90%;
        left: 3.7%;
    }
    .hamburger{
        display: block;
    }
    .circle{
        left: -0.2%;
    }
    .close{
        display: block;
        filter: invert(1);
    }
    .card{
        width: 44vw;
    }
    .library{
        margin-top: 0px;
        min-height: 86vh;
    }
    .song-details{
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    .song-info, .song-time{
        text-align: center;
        width: 100%;
    }
    .song-time-vol{
        width: fit-content;
        flex-direction: column;
    }
    .volume{
        gap: 10px !important;
        height: 20px;
    }
    .volume-container{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 10vw;
        width: 70vw;
    }
}

@media (max-width: 700px){
    .search{
        display: none;
    }
    .home{
        margin-top: 0;
    }
    .search-container{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .card-container{
        /* margin: 0 0 0 20px; */
        justify-content: center;
    }
    .card{
        width: 90vw;
    }
    .btn-search{
        display: flex;
        justify-content: end;
        align-items: center;
        width: 100%;
        gap: 20px;
    }
    .search-icon3{
        display: block;
        position: absolute;
        /* left: 30px; */
        width: 25px;
        z-index: 10;
        filter: invert(0.5);
        transition: filter 0.2s ease-in-out;
        &:hover{
            filter: invert(1);
        }
    }
    .volume-container{
        margin-left: 30vw;
        width: 70vw;
    }
    .header >*{
       background-color: #3b3b3b;
    }
}

@media (max-width: 440px){
    .btn-search{
        gap: 15px;
    }
    .search-icon3{
        width: 20px;
        height: 20px;
    }
    .buttons button{
        padding: 5px 5px;
    }
    .hamburger{
        width: 20px;
        height: 20px;
    }
    .card{
        padding: 0;
        margin: 10px;
    }
}

@media (max-width: 441px){
    .nav{
        padding: 27px 20px;
    }
}